.back{
    background-color:white;
    margin-top:110px ;
    opacity: 0.8;
    border-radius:  30px;
      }
    .colr{
      font-style: italic;
      color: teal;
      font-size: 20px;
      background-color: aliceblue;
    }
    
        
      