<div class="wrapper">
  <nav class="navbar navbar-default  navbar-dark bg-dark  ">
    <div class="container">

    <div class="navbar-header center ">
        <img src="assets/img/logo.png">
    </div>

    <ul>
      <li class="navbar-nav"><a class="nav-link" routerLink="/home">Home</a></li>

      <li class="navbar-nav"><a class="nav-link  " routerLink="/connect">Connect</a></li>
      <li class="navbar-nav"><a class="nav-link" routerLink="/service">Service</a></li>

    </ul>
    </div>
  </nav>
</div>
