/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
/* 
.backround{
background-image: url(assets/img/home.png);
background-repeat: no-repeat;
background-attachment: fixed; 
background-size: 100% 100%;
} */